<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contato
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <p>Preifeitura Municipal de Oriente</p>
      <p>Rua Thomaz Martins Parra, Nº 80</p>
      <p>Centro</p>
      <p>CEP 17570-000 - Oriente -SP</p>
      <p>Telefone: (14)3456-2043 </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Secretária da saúde</p>
      <p>Rua Mario Reis, Nº 237</p>
      <p>Centro</p>
      <p>CEP 17570-000 - Oriente -SP</p>
      <p>Telefone: (14)3456-1757 </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Secretaria do Esporte</p>
      <p>Rua Washington Luiz, Nº 302</p>
      <p>Centro</p>
      <p>CEP 17570-000 - Oriente -SP</p>
      <p>Telefone: (14)3456-2043 </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content>
        <p>Secretaria de Assistência Social</p>
        <p>Rua Rodolfo Miranda, Nº 176</p>
        <p>Centro</p>
        <p>CEP 17570-000 - Oriente -SP</p>
        <p>Telefone: (14)3456-2042 </p>
      </ion-card-content>
    </ion-card>
</ion-content>