<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Sua Reclamação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="reclamacoes.name" placeholder="Seu Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="reclamacoes.descricao" placeholder="Descrição"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="reclamacoes.email" placeholder="E-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="reclamacoes.telefone" placeholder="Telefone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="reclamacoes.endereco" placeholder="Endereço"></ion-input>
    </ion-item>
    
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveReclamacoes()" expand="block">
      Salvar Reclamação
    </ion-button>
  </ion-toolbar>
</ion-footer>