.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    z-index: 2;

    &.top {
        top: 1%;
    }

    &.bottom {
        bottom: 10%;

        span {
            color:rgba(0, 0, 0, 0.911);
        }
    }
}

ion-slides {
    height: 130%;

    .slide-inner {
        width: 70%;
        color: rgb(7, 7, 7);
        background-color: #0071bcc5;
        border-radius: 10px;

        ion-item {
            --background: rgba(241, 240, 240, 0.829);
            --border-radius: 10px;

            ion-input {
                --color: rgba(7, 7, 7, 0.918);
            }
        }
    }
}

.ocean {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35%;
    background-color: var(--ion-color-primary);

    .waves {
        position: absolute;
        top: -100px;
        left: 0;
        right: 0;
        height: 105px;
        background-image: url('/assets/img/waves.png');
        background-size: contain;
        transition: all 0.5s;
    }
}