<ion-app>
  <ion-split-pane >
    <ion-menu >
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="swiper-no-swiping">
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" swipe-gesture="false" >
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" swipe-gesture="false" >
              <ion-icon slot="start" [name]="p.icon" swipe-gesture="false" ></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-button (click)="logout()" color="danger" expand="block">
        Sair
      </ion-button>
    </ion-menu>
    
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
