<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" swipe-gesture="false">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-title>Vestibular Fatec Big Data</ion-card-title>
    <ion-img src="/assets/img/4.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>04/06/2019</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Inscrições abertas de 03/05 até as 15h do dia 10/06/2019. Tenha em mãos o CPF do candidato, que é obrigatório
        para realizar a inscrição.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-title>Informatização</ion-card-title>
    <ion-img src="/assets/img/3.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>04/06/2019</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>A tecnologia avança de forma extraordinária no mundo e a cada segundo novo mecanismo são criados para facilitar
        a vida do homem. Não fugindo a este contexto de modernidade, o Município de Oriente promoveu significativas
        mudanças tecnológicas na sua Secretaria Administrativa.</p>
    </ion-card-content>
  </ion-card>



  <ion-card class="welcome-card">
    <ion-card-title>Transforme o combate à dengue em um hábito</ion-card-title>
    <ion-img src="/assets/img/2.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>04/06/2019</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Ajude a manter a nossa população livre da ameaça do mosquito. Atitudes simples fazem toda a diferença!</p>
    </ion-card-content>
  </ion-card>



  <ion-card class="welcome-card">
    <ion-card-title>Oriente cada vez mais linda</ion-card-title>
    <ion-img src="/assets/img/1.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>09/04/2019</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Os ipês estão floridos e despertando olhares de quem passa por aqui. O ipê é uma árvore diferente da
        maioria das outras:
        quando suas flores nascem, as folhas caem dos galhos, compondo cenários lindos como este. As árvores
        costumam florescer no
        inverno, na primavera e embelezam qualquer lugar. Nesse início de inverno, o portal de Oriente foi
        contemplado com essa
        obra da natureza, deixando a cidade cada vez mais linda. </p>
    </ion-card-content>
  </ion-card>
</ion-content>