<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Agenda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-card-title>Reforma Entrada Principal Prefeitura</ion-card-title>
    <ion-card-subtitle>
      <p>Dia 04/06/2019 das 8:00 até dia 23/06/2019 as 17:30
        <p>Bairro Centro
          <p>Rua Thomaz Martins Parra
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-header>
    <ion-card-title>Manutenção no sistema de abastecimento de água</ion-card-title>
    <ion-card-subtitle>
      <p>Dia 09/04/2019 das 16:40 ate 19:30
        <p>Bairro Novo Oriente
          <p>Rua ??????????
    </ion-card-subtitle>
  </ion-card-header>



</ion-content>