<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      FAQ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-card-title>Qual o número de habitantes?</ion-card-title>
    6.487 hab. Estimativa IBGE/2018<p>
    <ion-card-title>Quando é o Aniversário da cidade?</ion-card-title>
    30 de novembro<p>
    <ion-card-title>Quando a cidade foi fundada?</ion-card-title>
    1944<p>
    <ion-card-title>Área</ion-card-title>
    218,7 km²<p>
    <ion-card-title>Municípios limítrofes</ion-card-title>
    Marília, Pompeia<p>
    <ion-card-title>Clima</ion-card-title>
    Tropical de altitude Cfa<p>
    <ion-card-title>Prefeito(a)</ion-card-title>
    Carlos Eduardo Boldorini Moris (2017 – 2020)
  </ion-card-content>

</ion-content>